@media only screen
and (device-aspect-ratio: 40/71) {
  #nav {
  height: 5%;
  }
  .nav {
    font-size: 3em;
  }
  .navbar-brand {
    font-size: 3em;
  }

	.container {
		height: 50%;
	}
	.calculator {
		height: 75%;
		margin: 10% 0 2% 25%;
		padding: 0;
		width: 100%;
	}

	.wrapper {
		background: gray;
		border: 1px solid black;
		margin: 0 20% 0 0;
		padding: 0;
		width: 35.5%;
		text-align: right;
	}
	h1 {
		margin: 5% 0 0 12%;
		width: 40%;
	}

	#screen {
		/*border: 2px solid black;*/
		/*margin: 0 10px 0 0;*/
		/*padding: 10px 80px;*/
		margin: 2% 22% 0 0;
		padding: 2% 1% 2% 25%;
	}
}

body {
	background: lightblue;
	font-size: 36px;
	padding: 0;
	height: 100%;
}

#nav {
  height: 5%;
}

.nav {
  font-size: 3em;
}

.navbar-brand {
  font-size: 3em;
}

.container {
	height: 80%;
}
.calculator {
	height: 75%;
	margin: 10% 0 2% 25%;
	padding: 0;
	width: 100%;
}


.wrapper {
	background: gray;
	border: 10px solid black;
	margin: 0 20% 0 0;
	padding: 0;
	width: 35.5%;
	text-align: right;
}

h1 {
	margin: 5% 0 0 12%;
	width: 27.5%;
}

#screen {
	/*border: 2px solid black;*/
	/*margin: 0 10px 0 0;*/
	/*padding: 10px 80px;*/
	margin: 2% 22% 0 0;
	padding: 2% 1% 2% 25%;
}

.keys {
	background: gray;
	float: left;
	font-size: 3rem;
	padding: 1% 2% 1% 2%;
	text-align: center;
	width: 35.5%;
}

.keys span {
	border: 1px solid black;
	width: 20%;
	float: left;
	padding: 5%;
}

.keys span:hover {
	background: red;
}

span button {
	width: 100%;
	float: left;
}

#seven, #four, #one, #zero {
	clear: left;
}
